@use './variables' as *;

@mixin spacing-reset {
  margin: 0;
  padding: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify($justify, $align:unset) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-flow($direction) {
  display: flex;
  flex-flow: $direction wrap;
}

@mixin zero-auto {
  margin: 0 auto;
  width: 1080px;
}

@mixin cta-button {
  width: 100%;
  height: 3rem;
  margin-right: 1rem;
  background: $primary-cta;
  border-radius: 0.25rem;
  color: $color-white;
  border: none;
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1080px) {
    @content;
  }
}
