// Global
$color-black: #323232;
$color-silver: #afafaf;
$color-mercury: #e1e1e1;
$color-white: #ffffff;
$color-alabaster: #fafafa;

//BrainFlix
$primary-cta: #0095ff;
$primary-cta-hover: #002f5f;

$divider-border: $color-mercury solid 1px;
$border-radius: 4px;
$border-active: $primary-cta solid 2px;
// Queries
$tablet: 768px;
