@use './variables' as *;
@use './mixins' as *;

.hero {
  @include desktop {
    display: flex;
    justify-content: center;
    background: black;
  }

  &__player {
    height: 11.437;
    width: 100%;

    @include desktop {
      height: 33.75rem;
      width: 59rem;
    }
  }
}
