@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.upload-video {
  @include flex-direction(column);

  @include desktop {
    @include spacing-reset;
    flex-grow: 1;
  }

  &__label {
    @include label-styles;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  &__invalid {
    color: red;
  }

  &__input {
    @include input-styles;
    &--description {
      @include input-styles;
      height: 8.92rem;

      @include tablet {
        margin-bottom: 2.5rem;
      }

      @include desktop {
        height: 5.875rem;
      }
    }
  }

  &__container {
    @include tablet {
      @include flex-justify(flex-end);
      padding: 2.5rem 0;
      border-top: $divider-border;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__publish {
    @include cta-button;
    margin: 2rem 0 1.5rem 0;
    cursor: pointer;

    @include tablet {
      @include spacing-reset;
      order: 2;
      width: 10rem;
    }

    &:hover {
      background: $primary-cta-hover;
    }

    &--invalid {
      @extend .upload-video__publish;
      background: $primary-cta-hover;
    }
  }

  &__cancel {
    @include cta-button;
    background: white;
    color: $primary-cta;
    text-align: center;
    cursor: pointer;

    @include tablet {
      order: 1;
      width: 10rem;
      text-align: right;
      margin-right: 3rem;
    }
  }
}
