@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.upload {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  &__video {
    padding: 1.5rem 0 2rem 0;
    border-top: $divider-border;

    @include tablet {
      padding: 3rem 0 2rem 0;
      border-bottom: $divider-border;
    }
  }

  &__thumbnail-title {
    @include label-styles;

    @include tablet {
      padding-top: 2.5rem;
    }
  }

  &__thumbnail {
    width: 18rem;
    height: 9.562rem;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }
  }
}

.upload-video {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  &__label {
    @include label-styles;
    margin-top: 1.5rem;
  }

  &__input {
    @include input-styles;
    &--description {
      @include input-styles;
      height: 8.92rem;

      @include tablet {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__container {
    @include tablet {
      display: flex;
      justify-content: flex-end;
      padding: 2.5rem 0;
      border-top: $divider-border;
    }
  }

  &__publish {
    @include cta-button;
    margin: 2rem 0 1.5rem 0;

    @include tablet {
      @include spacing-reset;
      order: 2;
      width: 10rem;
    }
  }

  &__cancel {
    @include cta-button;
    background: white;
    color: $primary-cta;
    text-align: center;

    @include tablet {
      order: 1;
      width: 10rem;
      text-align: right;
      margin-right: 3rem;
    }
  }
}
