@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.wrapper {
  @include flex-direction(column);
  justify-content: flex-start;

  @include desktop {
    margin-bottom: 8rem;
    border-bottom: $divider-border;
  }
}

.upload {
  @include flex-direction(column);
  padding: 0 1rem;

  @include desktop {
    @include zero-auto;
    flex-flow: row wrap;
  }

  &__modal-container {
    position: absolute;
    top: 42%;
    left: 50%;
  }

  &__modal {
    @include modal-window;
  }

  &__redirect {
    @include flex-justify(space-between, flex-end);
  }

  &__icon {
    font-size: 2rem;
    margin-right: 5rem;
    @include tablet {
      margin-top: 2rem;
    }
    @include desktop {
      font-size: 3rem;
    }
  }

  &__prompt {
    line-height: 1.5rem;
    font-size: 1.25rem;
    @include desktop {
      margin-top: 5rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__video {
    padding: 1.5rem 0 2rem 0;
    border-top: $divider-border;
    margin-top: 0.75rem;

    @include tablet {
      margin: 0;
      padding: 3rem 0 2rem 0;
      border-bottom: $divider-border;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__thumbnail-title {
    @include label-styles;

    @include tablet {
      padding-top: 2.5rem;
    }

    @include desktop {
      padding-top: 1.5rem;
    }
  }

  &__thumbnail {
    width: 18rem;
    height: 9.562rem;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }

    @include desktop {
      width: 21.5rem;
      height: 11.7rem;
      margin-bottom: 2.5rem;
      margin-right: 1.5rem;
    }
  }
}
