@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.wrapper {
  @include flex-direction(column);
  justify-content: flex-start;
}

.upload {
  @include flex-direction(column);
  padding: 0 1rem;

  @include desktop {
    @include zero-auto;
    flex-flow: row wrap;
  }

  &__video {
    padding: 1.5rem 0 2rem 0;
    border-top: $divider-border;

    @include tablet {
      padding: 3rem 0 2rem 0;
      border-bottom: $divider-border;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__thumbnail-title {
    @include label-styles;

    @include tablet {
      padding-top: 2.5rem;
    }

    @include desktop {
      padding-top: 1.5rem;
    }
  }

  &__thumbnail {
    width: 18rem;
    height: 9.562rem;
    border-radius: $border-radius;
    margin-bottom: 0.5rem;

    @include tablet {
      margin-bottom: 1rem;
    }

    @include desktop {
      width: 21.5rem;
      height: 11.7rem;
      margin-bottom: 2.5rem;
    }
  }
}
