@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.comment {
  margin: 0 1rem;

  @include tablet {
    margin: 0 1.5rem;
  }

  @include desktop {
    margin: 0 1.5rem 0 0;
    width: 100%;
  }

  &__count {
    margin: 2.5rem 0 2rem 0;
    font-size: 1.15rem;

    @include tablet {
      margin: 4rem 0 2rem 0;
    }
  }

  &__wrapper {
    @include flex-direction(row);
    border-bottom: $divider-border;

    @include tablet {
      padding-bottom: 1.5rem;
    }

    @include desktop {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 1.25rem 1rem 0 0;

    @include tablet {
      align-self: flex-end;
    }
  }

  &__form {
    @include flex-direction(column);
    width: 100%;

    @include tablet {
      flex-direction: row;
      margin-right: 2.5rem;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__container {
    @include tablet {
      @include flex-direction(column);
      width: 100%;
    }
  }

  &__label {
    @include label-styles;
  }

  &__input {
    @include input-styles;
    height: 6rem;

    @include tablet {
      height: 3rem;
    }
  }

  &__submit {
    @include cta-button;
    margin: 0.75rem 0 1.5rem;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: $primary-cta-hover;
    }

    &--invalid {
      @extend .comment__submit;
    }

    @include tablet {
      align-self: flex-end;
      width: 16rem;
      margin: 0 0 0 1rem;
    }
  }
}
