@use '../styles/partials/mixins' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/typography';
@use './partials/header';
@use './partials/hero';
@use './partials/video';
@use './partials/comment';
@use './partials/comment-card';
@use './partials/recommendation';
@use './partials/recommendation-card';
@use './partials/mixins';
@use './partials/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  @include desktop {
    display: flex;
    justify-content: space-between;

    width: 1080px;
    margin: 0 auto;
  }
}

.content-recommendation-container {
  @include desktop {
    width: 23rem;
  }
}

.content-container {
  @include desktop {
    flex-grow: 1;
  }
}
