@use '../src/partials/variables' as *;
@use '../src/partials/mixins' as *;
@use '../src/partials/typography';

.header {
  display: flex;
  flex-direction: column;
  height: 10.562rem;
  margin: 0 1rem;

  @include tablet {
    flex-direction: row;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
  }

  @include desktop {
    width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__logo {
    height: 1.75rem;
    margin: 1rem 0 0.625rem 0;

    @include tablet {
      margin: 0;
    }
  }

  &__input {
    font-family: "AvenirNext LT Pro";
    padding: 1rem 1rem 1rem 1rem;
    height: 3rem;
    width: 100%;
    border-radius: $border-radius;
    background: $color-alabaster;
    border: $divider-border;

    &::focus {
      border: 1px solid #0095ff;
    }

    &::placeholder {
      background-image: url("../assets/Images/Icons/Icon-search.svg");
      background-repeat: no-repeat;
      padding-left: 1.5rem;
    }

    @include tablet {
      width: 15rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 1rem 0;

    @include tablet {
      margin: 0;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 1rem;
    }
  }

  &__upload {
    @include cta-button;
    @include flex-center;

    @include tablet {
      margin: 0 1.5rem;
      width: 6.25rem;
    }

    &:hover {
      background: $primary-cta-hover;
    }
  }

  &__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;

    @include tablet {
      justify-self: flex-end;
    }
  }
}

.upload {
  &__video {
    margin: 1.5rem 0 2rem 0;
  }

  &__thumbnail-title {
  }

  &__thumbnail {
  }
}

.upload-video {
  &__label {
  }

  &__input {
    &--description {
    }
  }

  &__publish {
  }

  &__cancel {
  }
}
