@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.comment-card {
  display: flex;
  border-bottom: $divider-border;
  padding: 1.5rem 0;
  margin: 0 1rem;

  @include tablet {
    margin: 0 1.5rem;
  }

  @include desktop {
    margin: 0 2rem 0 0;
    width: 100%;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &__avatar {
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: $color-mercury;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include desktop {
      flex-grow: unset;
    }
  }

  &__header {
    display: flex;
    // justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5rem;
  }

  &__username {
    @include spacing-reset;
    margin-right: 1rem;
  }

  &__date {
    color: $color-silver;
    font-size: 0.875rem;
  }

  // &__comment {
  //   min-height: 3rem; // questionable for now??
  // }
}
