@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.hero {
  @include tablet {
    display: flex;
    justify-content: center;
    background: black;
  }

  &__player {
    height: 11.437;
    width: 100%;

    @include tablet {
      width: 43.75rem;
      height: 25rem;
    }

    @include desktop {
      height: 33.75rem;
      width: 59rem;
    }
  }
}
