@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.recommendation {
  margin: 0 1rem;

  @include tablet {
    width: 21.875rem;
  }

  @include desktop {
    margin: 0 0 0 1.5rem;
  }

  &__title {
    color: $color-silver;
    margin: 2.5rem 0;
  }
}
